<div>
  <h1>RAF Cloud</h1>
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <span>Email</span>
              <input type="text" autocomplete="off" [(ngModel)]="username">
            </div>
            <div>
              <span>Password</span>
              <input type="password" [(ngModel)]="password">
            </div>
            <div>
              <button type="submit" (click)="handleLogin()">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
